@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100i');*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
/*----------------nav navbar----------------*/
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  box-shadow: 0px 3px 5px 0px rgba(200,202,204,1);
}
.container{
  clear: both;
}
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    font-size: 1.3em;
}
/*----------------signUp page and login----------------*/
.signUp .col-sm-9, .login .col-sm-6{
  color: #ffff;
  background: #9BC7D0;
  box-shadow: 3px 4px 5px 0px rgba(155,199,208,1);
  margin: 50px auto;
  padding: 4%;
}
.signUp h1, .calendarHead h1, .recipes h2{
  font-size: 2.5em;
  color: #E47367;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
}
.signUp h2{
  margin-bottom: 20px;
}
.signUp h3{
  font-size: 1.5em;
}
.signUp img{
  float: right;
  width: 35%;
}
.signUp .btn-info {
  width: 50%;
  margin: 20px 25%;
}
.btn-info {
    color: #fff;
    background-color: #E47367;
    border-color: #EED1AE;
}

/*----------------Main----------------*/
.main{
height: 200px;
text-align: center;
}
.main {
display: flex;
align-items: center;
justify-content: center;
}
.main:first-of-type{
background: #FFE192;
background-image: url('../img/donut.png');
background-repeat: no-repeat;
background-position: right;
background-size: auto;
filter: grayscale(100%);
color: grey;
height: 300px;
}
.main:first-of-type p{
  font-size: 4em;
  font-family: 'Pacifico', cursive;
}
.main:nth-of-type(2){
background: #91B5C6;
background-image: url('../img/bowl.png');
background-repeat: no-repeat;
background-position: left;
background-size: contain;
height: 300px;
}
.main:first-of-type img, .main:last-of-type img{
width: 14%;
}
.main:first-of-type img{
float: right;
margin-right: 20%;
}
.main:last-of-type img{
float: left;
margin-left: 20%;
}
.clearfix{
  clear: both;
}
.container-fluid div:nth-child(3){
  text-align: center;
  margin-top:20px;
}
.maindiv{
  float: right;
  clear: both;
  margin: 20px 2%;
  font-family: 'Pacifico', cursive;
}
.maindiv>div{
  font-family: 'Roboto';
}
.maindiv h4{
  color: #CA5B3E;
  display: inline-block;
  font-size: 1em;
}
.maindiv img{
display: inline-block;
}
.row {
    clear: both;
}
/*----------------Calendar----------------*/
.calendar{
  text-align: center;
  font-size: 3em;
}
.calendar .day  p{
  color: #EED1AE;
  font-size: 0.3em;
}
.day{
  text-align: center;
}
.calendar .day{
  background: #B04A3C;
  margin: 20px 0 20px 5%;
  height: 100px;
}
.calendar .calendarHead p{
  font-size: 0.4em;
}
/*----------------profile----------------*/
.profile{
  text-align: center;
  margin-top: 50px;
  padding: 2%;
  background: #9BC7D0;
}
.profile .userName{
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  color: #E47367;
}
/*.profile .paragraf p:nth-of-type(2), {
  background: #41818D;
  color: #ffff;
  display: inline-block;
  padding:2% 5%;
}*/
.profile>p{
text-align: left;
}
.profile>p:last-of-type{
text-align: center;
}
.profileName{
  font-size: 2em;
}
.fa-star{
  color: yellow;
  margin-right: 2%;
}
.fa-arrow-circle-right{
  color:#F35CC2;
  margin-right: 2%;
}
.profile .white{
  color: white;
}
/*----------------recipes----------------*/
.recipes section:nth-of-type(2) ul li{
  list-style: none;
  font-size: 1.5em;
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}
.recipes section:nth-of-type(3){
  margin-top: 20px;
}
.recipes section:first-of-type{
margin: 0 auto;
}
.recipes h2{
  font-size: 4em;
  margin-bottom: 50px;
}
.imgRecipes{
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.imgRecipes p{
  margin-top: 10px;
}

/*----------------Footer----------------*/
.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #9BC7D0;
  color: #ffff;
  padding: 10px 0;
  box-shadow: 0px -3px 5px 0px rgba(200,202,204,1);
}
.footer article{
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-left: 5%;
}
.footer .list{
  list-style: none;
  font-size: 1em;
}
.footer article:nth-of-type(1) ul{
  margin: 0;
  padding: 0;
}
.footer article:nth-of-type(2) ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer .list ul li{
      padding-left: 5%;
      font-size: 0.8em;
}
.footer article:nth-of-type(2) li:first-of-type{
  margin-left: 0;
}
.footer article:nth-of-type(2) li{
  display: inline-block;
  margin-left: 5%;
  font-size: 2em;
}
/*----------------a & button----------------*/

a, .navbar-light .navbar-nav .nav-link{
  text-decoration: none;
  color: #E47367;
}
.main a{
  font-size: 4em;
  font-family: pacifico;
}
.day a{
  color: #EED1AE;
}
.profile a{
  font-size: 1.5em;
}
a:hover{
  text-decoration: none;
  color: #41818D;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #41818D;
}
.btn-info:hover{
  background: #EED1AE;
}
