<h2>EDIT</h2>

<!--In process-->

<form action="/profile/edit" method="POST">
  <input id="name" type="text" name="name" value="<%= user.name %>">
  <input id="email" type="email" name="email" value="<%= user.email %>">
  <input id="password" type="password" name="password" value="">
  <input id="about" type="text" name="about" value="<%= user.about %>">
  <select name="" id=""></select>
</form>
