<% if(errorMessage){ %>
  <h4><%= errorMessage %></h4>
<% } %>
<div id="container">
    <section class="signUp">
      <article>
        <div><img style="float: right;"src="../img/signUp.png" width="50%" alt=""></div>
        <h1>Sweet Season</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus urna ex,
          vulputate laoreet enim eget, aliquet tincidunt purus. Nam dolor ex, aliquet
          non posuere ac, ultricies imperdiet dolor. Sed pellentesque dolor nec urna
          efficitur, non efficitur quam placerat. Vestibulum fermentum quis turpis id port</p>
        <h4>U have an account? Then <a href="/login">login!</a></h4>
      </article>
      <article>
          <form action="/" method="POST">
            <label for="name">Name</label><br>
            <input class= "col-md-10" id="name" type="text" name="name" placeholder="Your name">
            <br><br>
            <label for="password">Password</label><br>
            <input class= "col-md-10" id="password" type="password" name="password" placeholder="Your password">
            <br><br>
            <label for="email">Email</label><br>
            <input class= "col-md-10" id="email" type="email" name="email" placeholder="Your email">
            <br><br>
            <label for="foodProfile">Food Profile</label><br>
            <select class="btn btn-info" name="foodProfile">
              <option value="vegan">Vegan</option>
              <option value="veggie">Veggie</option>
            </select><br>
            <button class="btn btn-info">Create!</button>
          </form>
        </article>
      </section>
